*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
!/.idea/
.idea/compiler.xml
.idea/copyright/
.idea/misc.xml
.idea/modules.xml
release/
src/main/assets/
src/main/java/com/example/caowj/newtask/other/ItemDecoration/
