<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kedacom.module_learn">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:theme="@style/AppTheme">
        <activity android:name=".FunctionListActivity" />
        <activity android:name=".activity.TestSmartRefreshLayoutActivity" />
        <activity android:name=".activity.TestStethoActivity"></activity>
    </application>

</manifest>